<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sofiane.envol.ownersquarehangout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Utilies.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <supports-screens android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />

        <activity
            android:name=".Activities.UpdateRestaurantActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.UpdateMenuActivity"
            android:label="@string/title_activity_update_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DetailMenuActivity"
            android:label="@string/title_activity_detail_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddMenuActivity"
            android:label="@string/title_activity_add_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.StatisticActivity"
            android:label="@string/title_activity_stat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OwnerMainActivity"
            android:label="@string/title_activity_owner_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.SearchByQRActivity"
            android:label="@string/title_activity_search_by_qr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SearchByNameActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DetailBookingActivity"
            android:label="@string/title_activity_detail_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RepportActivity"
            android:label="@string/title_activity_repport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Utilies.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
